html, body {
  margin: 0; padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.app {
  width: 100vw; height: 100vh;
}

.hike-bar {
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  background-color: #1abc9c;
}

#map {
  width: 100vw; height: calc(100vh - 100px);
}

.menu {
  border-top: #1abc9c 1px solid;
  width: 100%;
  height: 64px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.menu-item {
  border-right: solid #1abc9c 1px;
  list-style-type: none;
  margin: 0; padding: 0;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item:last-child {
  border-right: 0;
}

.menu-item-icon {
  width: 50%;
}
