html, body {
  margin: 0; padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.app {
  position: relative;
  width: 100%;
}

.hike-bar {
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1abc9c;
}

.hike-bar-title {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.info-icon {
  height: 75%;
}

.content-window {
  height: 0; width: 100%;
  position: absolute;
  bottom: 64px;
  background-color: #fff;
  transition-timing-function: ease;
  transition: height 1s;
  overflow: auto;
}

.content-section {
  padding: 24px 12px;
}

nav {
  width: 100%;
  max-width: 450px;
  height: 64px;
  border-top: #1abc9c 1px solid;
}

.menu {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.menu-item {
  border-right: solid #1abc9c 1px;
  list-style-type: none;
  margin: 0; padding: 0;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item:last-child {
  border-right: 0;
}

.menu-item-icon {
  width: 50%;
  cursor: pointer;
}

.content-image {
  width: 100%;
  height: 256px;
  object-fit: cover;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}

/*Desktop Styles*/
@media only screen and (min-width: 450px) {
  .hike-bar {
    background-color: #333;
  }

  .info-icon {
    display: none;
  }

  nav {
    position: relative;
    bottom: 0px;
    left: 12px;
    background-color: #fff;
    bottom: 74px;
    border-top: 0;
    border-radius: 5px;

    -webkit-box-shadow: 0px 3px 31px 17px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 3px 31px 17px rgba(0,0,0,0.21);
    box-shadow: 0px 3px 31px 17px rgba(0,0,0,0.21);
  }

  .content-window {
    border-radius: 5px;
    height: 0; width: 640px;
    position: absolute;
    bottom: calc(15% - 12px);
    left: 12px;
    background-color: #fff;
    transition: height 0s;
    transition: left .5s;

    -webkit-box-shadow: 0px 3px 31px 17px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 3px 31px 17px rgba(0,0,0,0.42);
    box-shadow: 0px 3px 31px 17px rgba(0,0,0,0.42);
  }

  /*scrollbar styles*/

  ::-webkit-scrollbar {
    display: none;
  }
}

/*typeography*/

.hike-bar-title {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #333;
  margin-bottom: 2px;
  color: #23395d;
}

h3 {
  margin-top: 36px;
}

p, li {
  font-family: 'Muli', sans-serif;
  color: #666;
  line-height: 1.5;
}

strong {
  color: #1abc9c;
  font-weight: 700;
}

p {
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #1abc9c;
  font-weight: 700;
}
